@import "tailwindcss";

@theme {
  --font-size-md-14: 0.875rem;
  --font-line-height-md-14: 1.25rem;
  --font-weight-md-14: 500;

  --font-size-sb-13: 0.8125rem;
  --font-line-height-sb-13: 1.25rem;
  --font-weight-sb-13: 600;

  --color-charcoal: #111111;
  --color-slate: #555555;
  --color-steel: #999999;
  --color-green: #5ecd67;

  --shadow-regular-1: 0px 8px 40px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
}
